:root {
  --tape: hsla(54, 29%, 80% 1);
  --tape-edge: hsla(53, 15%, 67%, 1);
  --background: hsla(203, 31%, 70%, 1);
  --foreground: hsla(203, 31%, 10%, 0.7);
  --shadow-size: 1px;
  --photo-shadow: hsla(0, 0%, 55%, 0.259);
  --photo-border: hsla(0, 0%, 55%, 0.1);
}
