:root {
  --tape: hsla(54, 29%, 80% 1);
  --tape-edge: hsla(53, 15%, 67%, 1);
  --background: hsl(210, 5%, 8%);
  --foreground: hsla(210, 90%, 100%, 1);
  --shadow-size: 1px;
  --photo-shadow: hsl(0, 0%, 0%);
  --photo-border: hsla(0, 0%, 55%, 0.1);
}
